<% provide :title, @food.name %>
<h1 class="title-show">
  <%= t ".title" %>
</h1>
<table class="table table-bordered">
  <thead>
    <tr class="tr-head-show">
      <th class="th-head-show" >
        <%= t ".img" %>
      </th>
      <th class="th-head-show" >
        <%= t ".name" %>
      </th>
      <th class="th-head-show">
        <%= t ".price" %>
      </th>
      <th class="th-head-show-width40" >
        <%= t ".description" %>
      </th>
      <th class="th-head-show" >
        <%= t ".quantity" %>
      </th>
      <th class="th-head-show">
        <%= t ".status" %>
      </th>
      <th class="th-head-show">
        <%= t ".category" %>
      </th>
      <th class="th-head-show">
        <%= t ".action" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="tr-body-show">
      <td class="td-body-show">
        <%= check_image? %>
      </td>
      <td class="td-name-body-show"><%= @food.name %></td>
      <td class="td-body-show"><%= @food.price %></td>
      <td class="td-body-show"><%= @food.description %></td>
      <td class="td-body-show"><%= @food.quantity %></td>
      <td class="td-body-show badge badge-primary"><%= @food.status %></td>
      <td class="td-body-show"><%= @food.category.category_name %></td>
      <td>
        <%= link_to edit_admin_food_path(@food) do %>
          <button type="button" class="btn btn-primary btn-sm">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
        <% end %>
        <%= link_to "#" do %>
          <button type="button" class="btn btn-danger btn-sm">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<h4><%= t ".images" %></h4>
<div class="container-images-show">
  <% @food.images.each do |img| %>
    <div class="image-show">
      <%= image_tag @food.display_image(img) if @food.images.attached? %>
    </div>
  <% end %>
</div>
