<% provide :title, t(".title") %>
<!-- hero area -->
<div class="hero-area hero-bg" style="background-image: url(/assets/img/news-bg-5.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <p class="subtitle"><%= t ".fresh" %></p>
            <h1><%= t ".delicious" %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero area -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><%= t ".product" %> <span class="orange-text"><%= t ".our" %> </span></h3>
        </div>
      </div>
    </div>
    <% if @foods.any? %>
      <div class="row">
        <%= render @foods %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="product-filters">
              <ul>
                  <li class="active">
                    <%= link_to t(".see_more"), shop_path, class:"cart-btn" %>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row justify-content-center alert alert-danger">
        <h4 class="mb-4"><%= t("home_page.our_products_nil") %></h4>
      </div>
    <% end %>
  </div>
</div>
<!-- end product section -->
