<%= stylesheet_link_tag "sign_up", media: "all", "data-turbolinks-track": true %>
<div id="login-box">
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <h1 class="title"><%= t "sign_up.sign_up" %></h1>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "text", placeholder: t("form.full_name") %>
              <%= f.email_field :email, autocomplete: "email", class: "text", placeholder: t("form.email") %>
              <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "text", placeholder: t("form.phone") %>
              <%= f.text_field :address, autofocus: true, autocomplete: "phone", class: "text", placeholder: t("form.address") %>
              <%= f.password_field :password, autocomplete: "new-password", class: "password", placeholder: t("form.password") %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password", placeholder: t("form.password_confirmation") %>
              <%= f.submit t("sign_up.sign_up").upcase, class: "btn btn-primary" %>
            <% end %>
            <p>
              <%= t "sign_up.dont_account" %>
              <%= render "devise/shared/links" %>
            </p>
            <button class="social-signin facebook"><%= t "sign_up.log_in_with_facebook" %></button>
            <button class="social-signin google"><%= t "sign_up.log_in_with_google" %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
