<% @orders.each_with_index do |order, i| %>
  <tr>
    <td><%= i+1 %></td>
    <td><%= l order.created_at, format: :own %></td>
    <td><%= order.user_name %></td>
    <td><%= order.phone %></td>
    <td><%= order.address %></td>
    <td>
      <%= total_price(order) %>
    </td>
    <td>
      <h5>
        <span class="badge btn <%= Settings.send(order.status) %>">
          <%= t "status_order.#{order.status}" %>
        </span>
      </h5>
    </td>
    <td>
      <%= link_to admin_order_path(order) do %>
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
      <% end %>
      <%= render "order_button", order: order %>
    </td>
  </tr>
<% end %>
