<div class="breadcrumb-section breadcrumb-bg" style="background-image: url(/assets/img/news-bg-3.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1><%= t "form.info" %></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="row mt-5 mb-5">
  <div class="col-4">
    <h5><%= t "form.image" %></h5>
    <div class="image mb-3">
      <%= gravatar_for @user %>
    </div>
    <%= link_to edit_user_registration_path do %>
      <h5>
        <i class="fas fa-edit"></i>
        <%= t "form.edit" %>
      </h5>
    <% end %>
  </div>
  <div class="col-8">
    <table class="table font-table">
      <thead>
        <tr>
          <th scope="col" class="laber">
            <%= t "form.full_name" %>
          </th>
          <th>
            <%= @user.name %>
          </th>
        </tr>
        <tr>
          <th scope="col" class="laber">
            <%= t "form.email" %>
          </th>
          <th>
          <%= @user.email %>
          </th>
        </tr>
        <tr>
          <th scope="col" class="laber">
            <%= t "form.phone" %>
          </th>
          <th>
          <%= @user.phone %>
          </th>
        </tr>
        <tr>
          <th scope="col" class="laber">
            <%= t "form.address" %>
          </th>
          <th>
          <%= @user.address %>
          </th>
        </tr>
        <tr>
          <th scope="col" class="laber">
            <%= t "form.created_at" %>
          </th>
          <th>
        <%= l @user.created_at, format: :long %><br/>
          </th>
        </tr>
        <tr>
          <th scope="col" class="laber">
            <%= t "form.updated_at" %>
          </th>
          <th>
            <%= l @user.updated_at, format: :long %></h6>
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</div>
