<%= stylesheet_link_tag :orders %>
<% provide :title, t(".title") %>
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1><%= t ".title" %></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div id="tracking">
        <div class="tracking-list">
          <% if can? :read, Order %>
            <% if @orders.any? %>
              <%= render @orders %>
              <div class="row">
                <div class="col-lg-12 text-center">
                  <div class="pagination-wrap">
                    <ul>
                      <%= paginate @orders, theme: "twitter-bootstrap-3" %>
                    </ul>
                  </div>
                </div>
              </div>
            <% else %>
              <h1 class="text-center cart-index-title">
                <%= t ".no_order" %>
              </h1>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
