<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->
          <div class="site-logo">
            <a href="home.html">
              <%= image_tag "/assets/img/logo.png", alt: "" %>
            </a>
          </div>
          <!-- logo -->

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li><%= link_to t(".home"), root_path %></a></li>
              <li><%= link_to t(".about"), about_path %></a></li>
              <li><%= link_to t(".contact"), contact_path %></a></li>
              <li><%= link_to t(".shop"), shop_path %></li>
              <li><a href="#"><%= t("language") %></a>
                <ul class="sub-menu">
                  <li><%= link_to t("english"), locale: :en %></li>
                  <li><%= link_to t("vietnamese"), locale: :vi %></li>
                </ul>
              </li>
              <li>
                <%= link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do %>
                  <%= image_tag "/assets/img/avatar1.png", class: "avatar-default" %>
                  <b class="caret"></b>
                <% end %>
                <ul class="sub-menu">
                  <% if logged_in? %>
                    <li><%= link_to t("profile"), "#" %></li>
                    <li><%= link_to t("setting"), "#" %></li>
                    <li>
                      <%= link_to t("log_out"), logout_path, method: :delete %>
                    </li>
                  <% else %>
                    <li><%= link_to t("sign_up.sign_up"), new_user_path %></li>
                    <li><%= link_to t("log_in.log_in"), login_path %></li>
                  <% end %>
                </ul>
              </li>
              <li>
                <div class="header-icons">
                  <a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </li>
            </ul>
          </nav>
          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
